@import "./fonts";
@import "./variables";
@import "./components/all";
@import "./pages/all";

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  min-width: 420px;
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.friend {
  @include display-flex();

  &__avatar {
    min-width: 50px;
    width: 50px;
    height: 50px;
    margin-right: 10px;

    @media (max-width: 1024px) {
      margin-right: 0;
    }
  }

  &__name {
    @include noselect();
  }

  &__image-box {
    position: relative;
    width: 50px;
    margin-right: 10px;

    .friend__badge {
      position: absolute;
      top: -2px;
      right: 2px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $green;
      border: 2px solid $white;
    }
  }
}

.button {
  padding: 17px;
  border-radius: 6px;
  margin-bottom: 20px;
  border: none;
  color: white;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: all $duration ease-in-out;

  @media (max-width: 440px) {
    padding: 14px 8px;
    font-size: 15px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:active {
    transform: scale(0.98);
  }

  &_type_login {
    background-color: $blue;

    &:hover {
      background-color: darken($blue, 3%);
    }
  }

  &_type_reg {
    background-color: $green;
    width: 80%;
    align-self: center;
    padding: 17px 10px;

    &:hover {
      background-color: darken($green, 3%);
    }
  }
}

.circle-button {
  background-color: $white;
  color: $blue;
  border-radius: 50%;
  font-size: 30px !important;
  cursor: pointer;
  @include box-shadow();
  transition-property: all !important;
  transition-duration: $duration, 0s;
  transition-delay: 0s, $duration;

  @media (max-width: 768px) {
    visibility: visible !important;
  }

  &:hover {
    animation: none;
  }

  &_type_arrow {
    position: absolute;
    right: 24px;
    top: 45px;
    visibility: hidden;
    animation: left-shaking 2s infinite ease-in-out;
  }

  &_type_close {
    position: absolute;
    top: 20px;
    left: -15px;

    &:hover {
      transform: scale(1.1);
    }
  }

  &_type_hidden {
    opacity: 0;
    transition-delay: 0s, 0s;
  }

  &:active {
    transform: scale(0.95);
  }
}

@keyframes left-shaking {
  0%,
  25%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }

  40% {
    transform: translateX(-6px);
  }

  60% {
    transform: translateX(-4px);
  }
}
