@import './fonts';
@import './variables';
@import './components/all';
@import './pages/all';

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  min-width: 320px;
}